gbdt/src/.tags
gbdt/src-parallel/.tags
gbdt/src/__pycache__/*
gbdt/src-parallel/__pycache__/*
gbdt/data/train_data/*
gbdt/diagram/*
gbdt/data/*
gbdt/xgb/*
gbdt/实验报告*
gbdt/net/*
!/gbdt/data/数据格式说明.txt
gbdt/output/*
lr/code/*.out
2/*